doctype html
html(lang="en")
  head
    title ᭙꠸ꪀᦔꪑ꠸ꪶꪶ ᠻꪖꪶꪶ꠸ꪀᧁ ᥇ꪖꪶꪶ ᥴꫝ꠸ꪑꫀ
    meta(name="description", content="A windmill falling ball chime is a decorative piece of interactive art that brings a sense of calm and tranquility to your computer. It is fashioned from html, css, and javascript.")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="img/png" href="img/favicon.png")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:creator", content="@DBlodorn")
    meta(property="og:title", content="Windmill falling ball chime")
    meta(property="og:description", content="A windmill falling ball chime is a decorative piece of interactive art that brings a sense of calm and tranquility to your computer. It is fashioned from html, css, and javascript.")
    meta(property="og:image", content="https://ipfs.io/ipfs/bafybeicygjwwhl3fhu2qcnc46vylx5g3i2si5njuntb2upzyz3z5k55awi")
  body#harp
    include includes/logo.pug