doctype html
html(lang="en")
  head
    title ᭙꠸ꪀᦔꪑ꠸ꪶꪶ ᠻꪖꪶꪶ꠸ꪀᧁ ᥇ꪖꪶꪶ ᥴꫝ꠸ꪑꫀ
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="img/png" href="img/favicon.png")
  body#harp
    include includes/logo.pug