#add-body {
  width: 80px;
  height: 80px;
  border-radius: 200px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: red;
  color: white;
  font-size: 30px;
  border: 10px inset pink;
  transition: all 0.5s ease;
  &:hover {
    background-color: pink;
    border: 10px inset red;
  }
}
